/*General*/

* {
    box-sizing: border-box;
    color: white;
    background-color: #333333;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.topAccueil{
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em 1em 1em 1em;
}

footer {
    display: flex;
    margin: 1em;
}

.background{
    width: 100%;
}
#imageAccueil{
    max-width: 100%;
}

/* icon des sections */
section > header > div {
    margin: 10px;
    font-size: 1.4em;
}
section > header{
    margin: 1em;
}
/* textes des sections */
section>article {
    text-align: center;
}
section article div {
    margin: 2px;
    text-align: center;
    display: inline-block;
}

#contact article{
    justify-content: center;
    flex-direction: row;
}
/*animation slide page*/
/* Carroussel */

@keyframes slidein {
    0% {
        margin-top: 100vh;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes slideout {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -100vh;
    }
}

#slider figure {
    position: relative;
    width: 1000%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 35s slidy infinite;
}

#slider figure img {
    width: 10.00%;
    height: auto;
    float: left;
}

#slider {
    width: 60%;
    text-align: center;
    overflow: hidden;
    border: solid black 2px;
    border-radius: 7px;
}


@keyframes slidy {
    0% {
        left: 0;
    }
    5%{
        left: 0;
    }
    10%{
        left: -100%;
    }
    15%{
        left: -100%;
    }
    20%{
        left: -200%;
    }
    25%{
        left: -200%;
    }
    30%{
        left: -300%;
    }
    35%{
        left: -300%;
    }
    40%{
        left: -400%;
    }
    45%{
        left: -400%;
    }
    50%{
        left: -500%;
    }
    55%{
        left: -500%;
    }
    60%{
        left: -600%;
    }
    65%{
        left: -600%;
    }
    70%{
        left: -700%;
    }
    75%{
        left: -700%;
    }
    80%{
        left: -800%;
    }
    85%{
        left: -800%;
    }
    90%{
        left: -900%;
    }
    95%{
        left: -900%;
    }
    100%{
        left: 0;
    }
}


@media (min-width: 1440px) {

}
